<div class="container">

    <!--condicionales(ngIf)-->
    <p *ngIf="IsUsuario">Información sensible</p>
    <p *ngIf= "!IsUsuario">Información pública</p>

    <!--for(ngfor)
    <div *ngFor="let per of personas">
        <p>{{per.nombre}}</p>

    </div>
-->
<div class="card" style="width: 18rem;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let per of personas">
            <th scope="row">{{per.id}}</th>
            <td>{{per.nombre}}</td>
            <td>{{per.apellido}}</td>
          </tr>
        </tbody>
      </table>
</div>
</div>